
.paragraph {
    margin: 0px 100px 0px 100px;
    text-align: left;
    font-size:24px;
    color: #141313;
    font-family: Arial;
    padding: 0px 50px 0px 50px;
  }
  
  .transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 1;
    font-size: 50px;
    border-radius: 25px;
    padding: 20px; 
  }
  
  .question {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    font-size: 30px;
    border-radius: 25px;
    padding: 20px; 
    text-align:center;
  }
  
  h1 {
    text-align: center;
    font-size:80px;
    font-family: Arial;
    color: #000000;
  }
  
  h2{
    text-align: left;
    font-size:20px;
    color: #000000;
  }
  
  h4{
    text-align: center;
    font-size:60px;
    color: #000000;
  }
  
  body {  
    background-image: url("background.jpg");
    background-size: 100%;
    color: #000000;
    float: center;
    font-family:didot;
  }
  
  ul.nav > li{ 
    display: inline;
      padding:30px 50px;
    color: white;
    font-size: 50px;
  }
  
  .nav {
    float:right;
    margin: 20px 20px 20px;
    padding: 30px;
    text-align:center;
    font-size: 42px;
    height: 100px;
    list-style-type:none;
  }
  
  
  a {
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  select option{
    font-size: 20px;
  }
  